<!-- templates/fragments/navbar.html -->
<div class="navbar" th:fragment="navbar">
    <div class="navbar-left">
        <img th:src="@{/images/MMBLogo.jpg}" alt="Borewell Logo" style="height: 45px; width: 65px; border-radius: 60%; object-fit: cover;" />
		<a th:href="@{/dashboard}" class="active">Home</a>
        <a th:href="@{/articles}" class="active">Articles</a>
        <a th:href="@{/showImages}">Images</a>
		<a th:href="@{/getAllRawMaterials}">Raw Material</a>
        <a th:href="@{/quotations/getAllQuotation}">Quotation</a>
        <a href="#">Book</a>
        <a href="#">Generate Bill</a>
        <a href="#">Price Details</a>
        <a href="#">More <i class="fa-solid fa-chess-knight"></i></a>
    </div>

    <div class="navbar-right" style="display: flex; align-items: center; gap: 20px;">
        <div class="search-box" style="background-color: white; border-radius: 10px; padding: 8px 12px; display: flex; align-items: center;">
            <!--<i class="fa fa-search search-icon" style="color: #d64026;"></i>-->
			<i class="fa fa-search search-icon" style="color: rgb(73, 146, 180);"></i>
            <input type="text" placeholder="Search articles..." style="border: none; outline: none; font-size: 14px; margin-left: 5px;" />
        </div>

        <div class="social-icons" style="display: flex; gap: 10px;">
            <a href="#" target="_blank" style="color: white;"><i class="fab fa-instagram"></i></a>
            <a href="#" target="_blank" style="color: white;"><i class="fab fa-facebook-f"></i></a>
            <a href="#" target="_blank" style="color: white;"><i class="fab fa-whatsapp"></i></a>
            <a href="#" target="_blank" style="color: white;"><i class="fab fa-twitter"></i></a>
        </div>
    </div>
</div>
